@model Emina.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table>
        <caption>
            <h2>Use a local account to log in.</h2>
        </caption>
        <tr>
            <td>
                @Html.LabelFor(m => m.Email)
            </td>
            <td>
                @Html.TextBoxFor(m => m.Email)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Log in" />
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
