@model Emina.Models.Answer

@{
    ViewBag.Title = "Question";
}

<h1>@Model.Enquete.Name</h1>

@using (Html.BeginForm()) {
    <table>
        <thead>
            <tr>
                <td>
                    Question @ViewBag.Question.QuestionNumber out of @Model.Enquete.Questions.Count
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    @ViewBag.Question.Text
                </td>
                <td>

                </td>
            </tr>
        </thead>
        <tbody>
        @foreach (var pa in ViewBag.Question.PossibleAnswers)
        {
            <tr>
                <td>
                    @if (ViewBag.answered.Contains(pa.PossibleAnswerID))
                    {
                        <input type="checkbox" name="PossibleAnswer" value = "@pa.PossibleAnswerID" onclick="javascript:join()" checked="checked" />
                    } else {
                        @Html.CheckBox("PossibleAnswer", new { value = pa.PossibleAnswerID, onclick = "javascript:join()" } )
                    }
                </td>
                <td>
                    @pa.Text
                </td>
            </tr>
        }
            <tr>
                <td>
                    @Html.HiddenFor(model => model.TextAnswer)
                    @Html.HiddenFor(model => model.EnqueteID)
                    @Html.HiddenFor(model => model.QuestionID)
                    @Html.HiddenFor(model => model.UserID)
                    <input type="submit" value="Next" />
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        function join() {
            var elem = $("#TextAnswer");
            elem.val("");
            var result = [];
            $("form input:checkbox:checked").val(function(i,e){
                result.push(e); return e;
            });
            result = result.join(";");
            elem.val(result);
        }
    </script>
}