@model Emina.Models.Answer

@{
    ViewBag.Title = "Question";
}

<h2>FuzzyBinaryQuestion</h2>
@using (Html.BeginForm()) {
    <table class="QuestionTable">
        <thead>
            <tr>
                <td>
                    Question @Model.Question.QuestionNumber out of @Model.Enquete.Questions.Count
                </td>
            </tr>
            <tr>
                <td>
                    @Model.Question.Text
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                --
            </td>
            <td>
                -
            </td>
            <td>
                0
            </td>
            <td>
                +
            </td>
            <td>
                ++
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="Answer" value="++"/>
            </td>
            <td>
                <input type="radio" name="Answer" value="+"/>
            </td>
            <td>
                <input type="radio" name="Answer" value="0"/>
            </td>
            <td>
                <input type="radio" name="Answer" value="-"/>
            </td>
            <td>
                <input type="radio" name="Answer" value="--"/>
            </td>
        </tr>
        <tr>
            <td>
                @Html.HiddenFor(model => model.EnqueteID)
                @Html.HiddenFor(model => model.QuestionID)
                @Html.HiddenFor(model => model.UserID)
                <input type="submit" value="Next" />
            </td>
        </tr>
    </table>
}
