@model Emina.Models.Answer

@{
    ViewBag.Title = "Question";
}

<h1>@Model.Enquete.Name</h1>

@using (Html.BeginForm()) {
    <table class="QuestionTable">
        <thead>
            <tr>
                <td>
                    Question @ViewBag.Question.QuestionNumber out of @Model.Enquete.Questions.Count
                </td>
            </tr>
            <tr>
                <td>
                    @ViewBag.Question.Text
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.EditorFor(model => model.TextAnswer)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.HiddenFor(model => model.EnqueteID)
                    @Html.HiddenFor(model => model.QuestionID)
                    @Html.HiddenFor(model => model.UserID)
                    <input type="submit" value="Next" />
                </td>
            </tr>
        </tbody>
    </table>
}

