@model Emina.Models.RegisterModel

@{
    ViewBag.Title = "Create your account";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <table>
        <caption>
            <h2>Complete your invite by changing your password.</h2>
        </caption>
        <tr>
            <td>
                @Html.LabelFor(m => m.Password)
                @Html.HiddenFor(m => m.Email)
            </td>
            <td>
                @Html.PasswordFor(m => m.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(m => m.ConfirmPassword)
            </td>
            <td>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Create" />
            </td>
            <td>

            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}