@model Emina.Models.Enquete

@{
    ViewBag.Title = "Edit Questions";
}



<h2>Edit Questions</h2>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
@using (Html.BeginForm("EditQuestions", "EnqueteBuilder", FormMethod.Post))
{
    <table id="QuestionTable">
        <tr>
            <th>
                #
            </th>
            <th>
                Question Text
            </th>
            <th>
                Question Type
            </th>
            <th>
                Default Next Question
            </th>
            <th>
                Next Question
            </th>
            <th>

            </th>
        </tr>
        @{
            var count = 1;   
        }
        @foreach (var question in Model.Questions)
        {
            var Text = "Question_" + count + "_Text";
            var Type = "Question_" + count + "_Type";
            var Next = "Question_" + count + "_Next";
            var Number = "Question_" + count + "_Number";
            var Row = "Question_" + count + "_Row";
            var Delete = "Question_" + count + "_Delete";
            <tr id="@Row">
                <td id="@Number">
                    @question.QuestionNumber
                </td>
                <td>
                    <input type="text" name="@Text" id="@Text" value="@question.Text"/>
                </td>
                <td>
                    <select id="@Type" name="@Type" onchange="javascript:typeChange(this,@count)">
                            @foreach (var QuestionType in ViewBag.QuestionTypes)
                            {
                                if (question.Type.Equals(QuestionType))
                                {
                                    <option selected="selected" value="@QuestionType">
                                        @QuestionType
                                    </option>
                                }
                                else 
                                {  
                                    <option value="@QuestionType">
                                        @QuestionType
                                    </option>
                                }
                            }
                    </select>
                </td>
                <td>
                    <select id="@Next" name="@Next">
                            <option value="null">
                                None
                            </option>
                            @foreach (var q in Model.Questions.Where(quest => quest.QuestionID != question.QuestionID))
                            {
                                <option value="@q.QuestionNumber">
                                    @q.QuestionNumber
                                </option>
                            }
                    </select>
                </td>
                <td>

                </td>
                <td>
                    <a id="@Delete" href="javascript:deleteRow(@count)">
                        Delete
                    </a>
                </td>
            </tr>
            
            if (question.Type == Emina.Models.QuestionType.MultipleChoice || question.Type == Emina.Models.QuestionType.Checkbox)
            {
                var answerCount = 1;
                var ac = "Question_" + count + "_AnswerCount";
                var add = "Question_" + count + "_addAnswerRow";
                foreach(var pa in ViewBag.PossibleAnswers[question.QuestionNumber]){
                    var AnswerRow = "Question_" + count + "_Answer_" + answerCount + "_Row";
                    var Next2 = "Question_" + count + "_Answer_" + answerCount + "_Next";
                    var Delete2 = "Question_" + count + "_Answer_" + answerCount + "_Delete";
                    var Text2 = "Question_" + count + "_Answer_" + answerCount + "_Text";
                    <tr id="@AnswerRow">
                        <td>
                            -
                        </td>
                        <td>
                            <input type="text" id="@Text2" name="@Text2" value ="@pa.Text"/>
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                            <select id="@Next2" name="@Next2">
                                <option value="null">
                                    Default
                                </option>
                                @foreach (var q in Model.Questions.Where(quest => quest.QuestionID != question.QuestionID))
                                {
                                    <option value="@q.QuestionNumber">
                                        @q.QuestionNumber
                                    </option>
                                }
                            </select>
                        </td>
                        <td>
                            <a id ="@Delete2" href="javascript:deleteAnswerRow(@count, @answerCount)">Delete</a>
                        </td>
                    </tr>
                    answerCount++;
                }
                <tr id="@add">
                    <td>

                    </td>
                    <td>
                        <a href="javascript:addAnswerRow(@count)">
                            Add Answer
                        </a>
                        <input id="@ac" type="hidden" value="@ViewBag.PossibleAnswers[question.QuestionNumber].Count" name="@ac" />
                        
                    </td>
                </tr>
            }
            count++;
        }
        <tr id="addQuestionRow">
            <td>
                <h3>
                    <a href="javascript:addQuestionRow()">
                        Add Question
                    </a>
                </h3>
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
    <input type="hidden" value="0" id="questionCount" name="questionCount" />
    <input id="Enquete_id" type="hidden" value="@Model.EnqueteID" name="Enquete_id" />
    <input type="submit" value="Save" />
    <br /><br />
}

<script type="text/javascript">
    var questionTypes = new Array();
    @foreach(var questionType in ViewBag.QuestionTypes){
        @Html.Raw("    questionTypes.push(\""+questionType+"\");\n");   
    }
    var questionCount = 1;
    var questions = new Array();
    var answerCount = 1;

    $(document).ready(function () {
        @foreach(var question in Model.Questions){
            @Html.Raw(
            "       tmp = new Object(); \n"+
            "       tmp.text = \""+question.Text+"\";\n"+
            "       tmp.type = \""+question.Type+"\";\n"
            );

            if (question.NextQuestion != null)
            {
                @Html.Raw("       tmp.next = " + question.NextQuestion.QuestionNumber+";\n")
                @Html.Raw("       $(\"#Question_\"+questionCount+\"_Next\").val(\"" + question.NextQuestion.QuestionNumber+"\");\n");
            }
            else
            {
                @Html.Raw("       tmp.next = null;\n");
                @Html.Raw("       $(\"#Question_\" + questionCount + \"_Next\").val(\"None\");\n");
            }
            if(ViewBag.PossibleAnswers.ContainsKey(question.QuestionNumber)){
                @Html.Raw("       tmp.answers = new Array();\n");
                @Html.Raw("       answerCount = 1;\n");
                foreach(var pa in ViewBag.PossibleAnswers[question.QuestionNumber]){
                    @Html.Raw("       answer = new Object();\n");
                    @Html.Raw("       answer.text = \"" + pa.Text + "\";\n");
                    if(pa.NextQuestion != null){
                        @Html.Raw("       $(\"#Question_\" + questionCount + \"_Answer_\" + answerCount + \"_Next\").val(\"" + pa.NextQuestion.QuestionNumber + "\");\n");
                        @Html.Raw("       answer.next = " + pa.NextQuestion.QuestionNumber + ";\n");
                    } else {
                        @Html.Raw("       answer.next = null;\n");
                    }
                    @Html.Raw("       tmp.answers.push(answer);\n");
                    @Html.Raw("       answerCount++;\n");
                }
                @Html.Raw("       tmp.answerCount = answerCount;\n");
            }
            @Html.Raw("      questions[questionCount++] = tmp;\n");
        }
        $("#questionCount").val(questionCount);
    });

    var typeOptions = questionTypes.map(function (n) { return "<option value=\"" + n + "\">" + n + "</option>" }).join("");
    function addQuestionRow() {
        var row = "<tr id=\"Question_" + questionCount + "_Row\"><td id=\"Question_" + questionCount + "_Number\">" + questionCount + "</td><td><input id=\"Question_" + questionCount + "_Text\" type=\"text\" value=\"\" name=\"Question_" + questionCount + "_Text\"></td><td><select id=\"Question_" + questionCount + "_Type\" name=\"Question_" + questionCount + "_Type\" onchange=\"javascript:typeChange(this," + questionCount + ")\">" + typeOptions + "</select></td><td><select id=\"Question_" + questionCount + "_Next\" name=\"Question_" + questionCount + "_Next\"><option value='null'>None</option>";
        for (a = 1; a < questionCount; ++a) {
            row += "<option value='"+ a + "'>" + a + "</option>";
        }
        var optionElem = "<option value=\"" + questionCount + "\">" + questionCount + "</option>";
        for (a = 1; a < questionCount; ++a) {
            $("#Question_" + a + "_Next").append(optionElem);
            if ($("#Question_" + a + "_Type").val() == "MultipleChoice" || $("#Question_" + a + "_Type").val() == "Checkbox") {
                var val = parseInt($("#Question_" + a + "_AnswerCount").val());
                for (b = 1; b <= val; ++b) {
                    $("#Question_" + a + "_Answer_" + b + "_Next").append(optionElem);
                }
            }
        }
        row += "</select></td><td></td><td><a id=\"Question_"+questionCount+"_Delete\" href=\"javascript:deleteRow(" + questionCount + ")\">Delete</a></td></tr>";
        $("#addQuestionRow").before(row);
        
        var tmp = new Object();
        tmp.text = "";
        tmp.type = "Open";
        tmp.next = null;
        questions[questionCount++] = tmp;
        $("#questionCount").val(questionCount);
    }

    function addAnswerRow(question) {
        $("#Question_" + question + "_addAnswerRow").before(newAnswerRow(question));
    }

    function newAnswerRow(question) {
        var elem = $("#Question_" + question + "_AnswerCount");
        var val = parseInt(elem.val());
        val++;
        elem.val(val);
        var row = "<tr id=\"Question_" + question + "_Answer_" + val + "_Row\"><td> - </td><td> <input type=\"text\" id=\"Question_" + question + "_Answer_" + val + "_Text\" name=\"Question_" + question + "_Answer_" + val + "_Text\" value=\"\" /> </td><td> - </td><td> - </td><td><select id='Question_" + question + "_Answer_" + val + "_Next' name='Question_" + question + "_Answer_" + val + "_Next'><option value='null'>Default</option>";
        for (a = 1; a < questionCount; ++a) {
            if (a == question) {
                continue;
            }
            row += "<option value='" + a + "'>" + a + "</option>";
        }
        row += "</td></select>";

        row += "<td><a id=\"Question_" + question + "_Answer_" + val + "_Delete\" href='javascript:deleteAnswerRow(" + question + ", " + val + ")'>Delete</a></tr>";
        return row;
    }

    function deleteAnswerRow(question, answer) {
        $("#Question_" + question + "_Answer_" + answer + "_Row").remove();
        var elem = $("#Question_" + question + "_AnswerCount");
        var val = parseInt(elem.val());
        elem.val(val - 1);
        for (var a = answer; a < val; ++a) {
            var oldNum = (a + 1);
            var newNum = a;
            elem = $("#Question_" + question + "_Answer_" + oldNum + "_Row");
            elem.attr("id", "Question_" + question + "_Answer_" + newNum + "_Row");
            elem = $("#Question_" + question + "_Answer_" + oldNum + "_Next");
            elem.attr("id", "Question_" + question + "_Answer_" + newNum + "_Next");
            elem.attr("name", "Question_" + question + "_Answer_" + newNum + "_Next");
            elem = $("#Question_" + question + "_Answer_" + oldNum + "_Delete");
            elem.attr("id", "Question_" + question + "_Answer_" + newNum + "_Delete");
            elem.attr("href", "javascript:deleteAnswerRow(" + question + ", " + newNum + ")");
            elem = $("#Question_" + question + "_Answer_" + oldNum + "_Text");
            elem.attr("id", "Question_" + question + "_Answer_" + newNum + "_Text");
            elem.attr("name", "Question_" + question + "_Answer_" + newNum + "_Text");
        }
    }

    function deleteRow(number) { //delete a single row from the question table
        if ($("#Question_" + number + "_Type").val() == "MultipleChoice" || $("#Question_" + number + "_Type").val() == "Checkbox") { //if the questions has multiple answers, remove them.
            var answerCount = parseInt($("#Question_" + number + "_AnswerCount").val());
            for (a = 1; a <= answerCount; ++a) {
                $("#Question_" + number + "_Answer_" + a + "_Row").remove();
            }
            $("#Question_" + number + "_addAnswerRow").remove();
        }
        $("#Question_" + number + "_Row").remove(); //remove the row
        questionCount--;
        if (number != questionCount) { //if the row being removed is not the last row, update every row below it (decrementing its position)
            for (a = number; a < questionCount; ++a) {
                var oldNum = (a + 1);
                var newNum = a;
                questions[newNum] = questions[oldNum];
                $("#Question_" + oldNum + "_Row").attr("id", "Question_" + newNum + "_Row");
                var elem = $("#Question_" + oldNum + "_Number"); //QuestionNumber
                elem.attr("id", "Question_" + newNum + "_Number");
                elem.html(newNum);
                elem = $("#Question_" + oldNum + "_Text"); //Text
                elem.attr("id", "Question_" + newNum + "_Text");
                elem.attr("name", "Question_" + newNum + "_Text");
                elem = $("#Question_" + oldNum + "_Type"); //Type
                elem.attr("id", "Question_" + newNum + "_Type");
                elem.attr("name", "Question_" + newNum + "_Type");
                if (elem.val() == "MultipleChoice" || elem.val() == "Checkbox") { //Has multiple answers?
                    elem = $("#Question_" + oldNum + "_AnswerCount"); //answerCount
                    elem.attr("id", "Question_" + newNum + "_AnswerCount");
                    elem.attr("name", "Question_" + newNum + "_AnswerCount");
                    var answerCount = parseInt(elem.val());
                    for (b = 1; b <= answerCount; ++b) { //edit answers
                        $("#Question_" + oldNum + "_Answer_" + b + "_Row").attr("id", "Question_" + newNum + "_Answer_" + b + "_Row"); //Update the answer row id
                        elem = $("#Question_" + oldNum + "_Answer_" + b + "_Next"); //next answer
                        elem.attr("id", "Question_" + newNum + "_Answer_" + b + "_Next");
                        elem.attr("name", "Question_" + newNum + "_Answer_" + b + "_Next");
                    }
                    elem = $("#Question_" + oldNum + "_addAnswerRow");
                    elem.attr("id", "Question_" + newNum + "_addAnswerRow");
                    elem.attr("name", "Question_" + newNum + "_addAnswerRow");
                }
                elem = $("#Question_" + oldNum + "_Next");
                elem.attr("id", "Question_" + newNum + "_Next");
                elem.attr("name", "Question_" + newNum + "_Next");
                elem = $("#Question_" + oldNum + "_Delete");
                elem.attr("id", "Question_" + newNum + "_Delete");
                elem.attr("href", "javascript:deleteRow(" + newNum + ")");
            }
        }
        
        for (a = 1; a < questionCount; ++a) { //decrement the next question pointer if necessary
            updateNextQuestionDropdown($("#Question_" + a + "_Next"),number);
            if ($("#Question_" + a + "_Type").val() == "MultipleChoice" || $("#Question_" + a + "_Type").val() == "Checkbox") { //Question has multiple answers, update anwers
                var answerCount = parseInt($("#Question_" + a + "_AnswerCount").val());
                for (b = 1; b <= answerCount; ++b) {
                    updateNextQuestionDropdown($("#Question_" + a + "_Answer_" + b + "_Next"),number);
                }
            }
        }
        for (a = 1; a < questionCount; ++a) { //remove the question from nextQuestions lists
            var elem = $("#Question_" + a + "_Next option[value='" + questionCount + "']").remove();
            if ($("#Question_" + a + "_Type").val() == "MultipleChoice" || $("#Question_" + a + "_Type").val() == "Checkbox") {
                var answerCount = parseInt($("#Question_" + a + "_AnswerCount").val());
                for (b = 1; b <= answerCount; ++b) {
                    $("#Question_" + a + "_Answer_" + b + "_Next option[value='" + questionCount + "']").remove();
                }
            }
        }
        $("#questionCount").val(questionCount);
    }

    function updateNextQuestionDropdown(elem,number) { //update dropdown list for next question when a row is deleted
        var val = parseInt(elem.val());
        if (isNaN(val)) { // next question = "None"
            return;
        }
        if (val == number) { // next question == deleted question
            elem.val("null").attr("selected", true);
        } else if (val > number) { //Next question > deleted question, decrement
            var tmp = elem.val(String(val - 1));
            if (tmp.val() != String(val - 1)) {
                elem.append("<option value'" + (val - 1) + "'>" + (val - 1) + "</option>");
                elem.val(String(val - 1));
            }
        }
    }

    function typeChange(elem) {
        elem = $(elem);
        var row = elem.parent().parent();
        var question = parseInt(row.children().first().html()); //h4x
        
        if (elem.val() == "MultipleChoice" || elem.val() == "Checkbox") {
            var hasAnswers = ($("#Question_" + question + "_AnswerCount").val() != undefined);
            if (!hasAnswers) {
                var newAnswerRow = "<tr id=\"Question_" + question + "_addAnswerRow\"><td></td><td><a href=\"javascript:addAnswerRow(" + question + ")\">Add Answer</a><input id=\"Question_" + question + "_AnswerCount\" type=\"hidden\" value=\"0\" name=\"Question_" + question + "_AnswerCount\"></td></tr>";
                row.after(newAnswerRow);
            }
        } else {
            var count = parseInt($("#Question_" + question + "_AnswerCount").val());
            for (var a = 1; a <= count; ++a) {
                $("#Question_" + question + "_Answer_" + a + "_Row").remove();
            }
            $("#Question_" + question + "_addAnswerRow").remove();
        }
    }

</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>